---
title: Home page
published: true
handle: home
editable_elements:
  content/main/first_column: "<h2>Heading #1</h2>\r\n      <p>Donec id elit non mi
    porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
    magna mollis euismod. Donec sed odio dui.</p>"
  content/main/second_column: "<h2>Heading #2</h2>\r\n      <p>Donec id elit non mi
    porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
    magna mollis euismod. Donec sed odio dui. </p>"
  content/main/third_column: "<h2>Heading #3</h2>\r\n      <p>Donec sed odio dui.
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa.</p>"
  content/header/jumbotron: "<h1>Wagon bootstrap template</h1>\r\n      <p>This is
    a simple site with editable sections like this.</p>"
---
{% extends 'layouts/default' %}

{% block content %}

<!-- Slider
    ============================================= -->
  
  {% block slider, short_name: true, priority: 1 %}

    <section id="slider" class="swiper_wrapper full-screen clearfix">

      <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">


          <div class="swiper-slide" style="background-image: url(
          {% editable_file 'image1' %}
            /samples/slider/1.jpg
          {% endeditable_file %});">
          
            <div class="container clearfix">
              <div class="slider-caption slider-caption-right" style="max-width: 700px;">

                
                  <h2 data-caption-animate="flipInX">
                    {% editable_text "header1" %}
                      Team of Experts<span>.</span>
                    {% endeditable_text %}    
                  </h2>
                

                <p data-caption-animate="flipInX" data-caption-delay="500">

                  {% editable_text "sub header1" %}
                    Our Team of Doctors are specialized in Various Disciplines to make sure you get the Best Treatment.
                  {% endeditable_text %}

                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide" style="background-image: url(
          {% editable_file 'image2' %}
            /samples/slider/2.jpg
          {% endeditable_file %});">

            <div class="container clearfix">
              <div class="slider-caption">

                
                  <h2 data-caption-animate="zoomIn">

                    {% editable_text "header2" %}
                      Heart<span>Beat</span>.
                    {% endeditable_text %}

                  </h2>
                

                <p data-caption-animate="zoomIn" data-caption-delay="500">
                  {% editable_text "sub header2" %}
                    Care for your Loved Ones from the Experts in the Medical &amp; Hospitality Industry.
                  {% endeditable_text %}
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>
      


      {{ 'application.js' | javascript_tag }}

    </section>

  {% endblock %}


  <!-- #slider end -->


  {% block info, short_name: true, priority: 1 %}

    <section id="content">
      <div class="content-wrap">
        
        <div class="container clearfix">

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn">
                <a href="#"><i class="icon-medical-i-cardiology"></i></a>
              </div>
              <h3>Intensive Care</h3>
              <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                <a href="#"><i class="icon-medical-i-social-services"></i></a>
              </div>
              <h3>Family Planning</h3>
              <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                <a href="#"><i class="icon-medical-i-neurology"></i></a>
              </div>
              <h3>Expert Consultation</h3>
              <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn">
                <a href="#"><i class="icon-medical-i-dental"></i></a>
              </div>
              <h3>Dental Sciences</h3>
              <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                <a href="#"><i class="icon-medical-i-imaging-root-category"></i></a>
              </div>
              <h3>X-Ray Services</h3>
              <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                <a href="#"><i class="icon-medical-i-ambulance"></i></a>
              </div>
              <h3>24x7 Emergency</h3>
              <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  {% endblock %}

{% endblock %}
