---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}

  {% block image, short_name: true, priority: 1 %}

    <section id="slider" class="swiper_wrapper full-screen clearfix">

      <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">


          {% capture banner_url %}{% editable_file 'banner' %}{% endeditable_file %}{% endcapture %}


          <div class="swiper-slide" style="background-image: url(
          {% if banner_url != '' %}
            {{ banner_url | image_tag }}
          {% else %}
            {{ 'images/slider/1.jpg' | theme_image_url }}
          {% endif %});">
          
            <div class="container clearfix">
              <div class="slider-caption slider-caption-right" style="max-width: 700px;">
                <h2 data-caption-animate="flipInX">Team of Experts<span>.</span></h2>
                <p data-caption-animate="flipInX" data-caption-delay="500">Our Team of Doctors are specialized in Various Disciplines to make sure you get the Best Treatment.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url({{ 'images/slider/2.jpg' | theme_image_url }});">
            <div class="container clearfix">
              <div class="slider-caption">
                <h2 data-caption-animate="zoomIn">Heart<span>Beat</span>.</h2>
                <p data-caption-animate="zoomIn" data-caption-delay="500">Care for your Loved Ones from the Experts in the Medical &amp; Hospitality Industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      


      {{ 'application.js' | javascript_tag }}

    </section><!-- #slider end -->

  {% endblock %}

  <div class="container">
    {% block main, short_name: true %}

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {% editable_text body %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
            </p>
          {% endeditable_text %}

        </div>
      </div>

    {% endblock %}
  </div>

{% endblock %}


